[Unit]
Description=Auto Renew service for Step CA Host certificates

[Service]
Type=simple
ExecStart=/usr/bin/smallstep-auto-renew

[Install]
Alias=smallstep-auto-renew
WantedBy=multi-user.target
